
        <!---SECCION Proyectos---> 
        <section id="proyectos" class="seccion container">
            <div class="container content-center">
                <h2 class="">Proyectos</h2>
                <h5>Aqui compartimos algunos proyectos en los que estuvimos trabajando</h5>
            </div>
            <hr>            
            <div class="container">                
                <div class="proyecto">
                    <div class=" ">
                        <img src="../../../assets/img/usha.png" alt="">                        
                    </div>
                    <div class="">
                        <h3>"Usha"</h3>
                        <p>Usha es un Centro de Yoga y Terapias Alternativas.<br>
                            Su estructura es un heptágono circular de siete metros de diametro con techo recíproco y techo vivo. En la parte superior porta una cupula de cristal. Detalles en sobrerelieves y cañas. Paredes de adobe.(En construcción, Pellegrini, Pcia.Bs.As)
                        </p>
                    </div>
                </div>
                <hr>
                <div class="proyecto">
                    <div class="">
                        <img src="../../../assets/img/matriz.jpg" alt="">                        
                    </div>
                    <div class="">
                        <h3>"Casa Matriz"</h3>
                        <p>Es una vivienda de 200m2, con tres habitaciones y entrepiso. Construida sobre un médano, tiene techo vivo y techo recíproco. Paredes de quincha.(En construcción, Toay, Pcia. de La Pampa)</p>
                    </div>
                </div>
                <hr>
                <div class="proyecto">
                    <div class="">
                        <img src="../../../assets/img/almendra.jpg" alt="">                        
                    </div>
                    <div class="">
                        <h3>"Almendra"</h3>
                        <p>Construcción de la estructura y techo de una viviensa/salón de yoga, de seis metro de diametro. Heptágono con techo anillo de compresión. (Construido en diciembre de 2021, San Marcos Sierra, Pcia. Cordoba)</p>
                    </div>
                </div>
                <hr>
            </div>
        </section>