<!---SECCION Galeria--->
<section id="galeria" class="container seccion">
    <div class="container content-center">
        <div class="recuadro">
            <h2 id="titulo-galeria" class="">Galeria</h2>
        </div>                                    
    </div>
    <!----<ngb-carousel *ngIf="images">-->
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/almendra.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Techo Anillo Portante</h3>
          <p>Heptágono de adobe y techo de áridos</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/usha.png" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Techo Recíproco, techo vivo</h3>
          <p>Cupula central de vidrio, muros de adobe</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/matriz.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>   
    
</section>
