<!---SECCION Galeria--->
<section id="galeria" class="container seccion">
    <div class="container content-center">
        <div class="recuadro">
            <h2 id="titulo-galeria" class="">Galeria</h2>
            <p>Aqui presentamos algunas imágenes de las construcciones que hemos realizado</p>
        </div>                                    
    </div>
    <!----<ngb-carousel *ngIf="images">-->
    <ngb-carousel class="calesita">
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/almendra.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Techo Anillo Portante</h3>
          <p>Heptágono de adobe y techo de áridos</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/usha.png" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Techo Recíproco, techo vivo</h3>
          <p>Cupula central de vidrio, muros de adobe</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/reciproco.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Techo Recíproco, techo vivo</h3>
          <p>Cupula central de vidrio, muros de quincha</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/techovivo1.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Techo Recíproco, techo vivo</h3>
          <p>Cupula central de vidrio, muros de quincha</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/detalles1.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Sobre relieves</h3>
          <p>Detalle de guarda zocalo protectora perimetral</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-car">
          <img src="../../../assets/img/cieloraso2.png" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Detalles en caña</h3>
          <p>Gleria de caña, cielo raso</p>
        </div>
      </ng-template>
    </ngb-carousel>   
    
</section>
