<!-------SECCION CONTACTO--------->
<section id="contacto" class="container recuadro contacto seccion">
    <div class="content-center">
        <h2>Contacto</h2>
        <p>Puedes escribirnos por cualquier consulta </p>
    </div>  

    <div class="container-fluid seccion">
        <div class="row">
            <form ngNoForm action="https://formsubmit.co/4ed1e802380c4456e54103f37482db93" method="POST" id="mensajeForm">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre y apellido" required> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email de contacto" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Mensaje</label>
                        <input type="text" class="form-control" id="mensaje" name="mensaje" placeholder="Deja aquí tu mensaje..." required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Teléfono (opcional)</label>
                        <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Numero telefónico (opcional)">
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" id="boton-enviar" class="btn btn-primary full-width"><b>Enviar</b></button>
                </div>
            </form>                     
        </div>       
    </div>
</section>

