<!---SECCION Servicios--->  
<section id="servicios" class="container seccion">
    <div class="content-center">
        <h2>Servicios</h2>
        <p>Nuestro equipo se adapta a tus necesidades y tiempos, desde la siembra de ideas, diseño y proyecto, hasta la planificaión y la ejecución del proyecto.</p>
    </div>
        <div class="tipo">
            <img class="img-servicio" src="../../../assets/img/galerisdibujo (1).jpg" alt="">
            <h3>Diseño y proyecto</h3>
            <p>Llevamos adelante el diseño y proyecto de lo que quieras construir, atendiendo las necesidades del cliente, y aconsejando en areas técnicas la mejor solución constructiva</p>
        </div>
        <div class="tipo">
            <img class="img-servicio" src="../../../assets/img/galeriaproceso.jpg" alt="">
            <h3>Dirección de obra</h3>
            <p>Planificamos y dirigimos la ejecución de la obra, articulando con el o los equipos constructivos de cada area, asistiendo en obra y en continua comunicación con el contratante.</p>
        </div>
        <div class="tipo">
            <img class="img-servicio" src="../../../assets/img/galeriaterminada.jpg" alt="">
            <h3>Construcción</h3>
            <p>Tenemos un equipo de construcción capaz de llevar adelante tu proyecto constructivo y articulamos con demás equipos que formen parte del proyecto</p>
        </div>   
</section>
