/*-----------Seccion ervicios----------------------------------*/
#recursos {
    background:black;
    height:max-content;
    color:white;
    text-align: center;
    padding-top:100px;
    padding-bottom:100px;
    padding-left:25px;
    padding-right:25px;
    width: 90vw;   
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid lightblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.img-servicio {
    height:150px;
    width:200px;
    margin-top:20px;
}

.servicios {
    text-align: center;

}
.row {
    margin:0 auto;
}

.tipos {
    text-align: center;
    margin:0 auto;
    justify-content: center;
}
.tipo {
    border: 1px solid grey;
    border-radius: 20px;
    margin:0 auto;
    margin-top: 10px;
    width:70vw;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding:10px;
   
}
.tipo h3 {
    color:white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;

}

.tipo p {
    color:grey;
    font-size: 0.8rem;
}


@media only screen and (max-width: 460px) {
    .img-servicio {
        height:75px;
        width:100px;
    }   
}