/*-----------Seccion RECURSOS----------------------------------*/
#recursos {
    background:black;
    height:max-content;
    color:white;
    text-align: center;
    padding-top:100px;
    padding-bottom:100px;
    padding-left:25px;
    padding-right:25px;
    width: 90vw;   
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid lightblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
p {
    color:grey
}

h4 {
    margin-top:25px;
    color:orange;
}
ul  {
    list-style: none;
    padding:0 0 0 0;
    margin:0 auto
}

ul li {
    margin:25px
}

@media only screen and (max-width: 460px) {
    ul li iframe {
        height:auto;
        width:60vw;
        margin:0 auto;
    }
    #recursos {
        padding-left:10px;
        padding-right:10px;  
    } 
}