<!---SECCION Somos--->        
<section id="somos" class="seccion container">            
    <div class="container">
        <div class="content-center">
            <h2>¿Quienes somos?</h2>
            <p>Somos un equipo integrado por diversos talentos y profesiones, que compartimos el apasionante mundo de la construcción con materiales que la naturaleza nos provee...</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="miembros">
                    <div class="detalles">
                        <h5>Leonardo Da Vinci</h5>
                        <span>Arquitecto</span>
                    </div>
                    <img src="../../../assets/img/foto1.jpg" class="img-fluid" alt="miembro 1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="miembros">
                    <div class="detalles">
                        <h5>Frida Kahlo</h5>
                        <span>Diseñadora</span>
                    </div>
                    <img src="../../../assets/img/foto2.jpg" class="img-fluid" alt="miembro 2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="miembros">
                    <div class="detalles">
                        <h5>Albert Einstein</h5>
                        <span>Director de obra y constructor</span>
                    </div>
                    <img src="../../../assets/img/foto3.jpg" class="img-fluid" alt="miembro 3">
                </div>
            </div>
        </div>
    </div>
</section>
